
body{
  font-size: 27px;
}
.cajas, #cambiar, #next, h2, .conteiner_opciones, #btn-respA, #btn-respB{
   text-align:center;
}
#next{
  font-size: 20px;
   width: 300px;
   height: 60px;
   background-color: #54bc00;
   font-family: monospace;
   justify-content: center;
   margin: 40px;
   padding: 20x;

}
.cajas{
width: 100%;
height: 650px;
margin: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}
.img_prin{
    width: 300px;
    height:400px;
    margin-top: 0;
}
.ctn-pag2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctn-img-reg{
    width: 70%;
    height: 500px;
}
.cont_1{
    width:70%;
    height: 500px;
    margin: 3rem auto;
    background-size: 70% 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.conteiner_opciones{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cont_reg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}
.opciones{
    width: 250px;
    height: 250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;

}

.img-reg{
    width: 80%;
    height: 500px;
}
.btn-start{
  font-size: 27px;
  width: 150px;
  height: 60px;
  background-color: #fff600;
  font-family: monospace;
}

.cont-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
  font-family: 'Luckiest Guy', cursive;
  color:white;
  text-shadow:  -4px -4px 0 #000,  
  7px -7px 0 #000,
  -7px 7px 0 #000,
  7px 7px 0 #000;
  font-size: 7rem;
    margin: 0.5rem auto;

}
h2{
    width: 97%;
    font-size:4rem;
    color: white;
    margin: 0 auto;
}
p{
  font-size: 30px;
}
body{
   background-image: url(https://cdn.hipwallpaper.com/i/25/90/cjwLyN.jpg);
   margin-left: auto;
   margin-right: auto;
   vertical-align: middle;
   font-family: monospace;
}

button {
   font-size: 20px;
   width: 150px;
   height: 60px;
   background-color: #54bc00;
   font-family: monospace;

}
#A, #B {
  background-color: #ffd816;
  font-size: 27px;
   width: 255px;
   height: 100px;
   font-family: monospace;
}
#btn-respB, #btn-respA{
  font-size: 21px;
    width: 210px;
    height: 100px;
    background-color:red;
    font-family: monospace;
}
#fond_preg {
  background-color: black;
  color:rgb(250, 250, 250);
}